/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "swe_keys.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT     0
#define QWERTY      1
#define GAMING      2
#define SYMBOLS_ENG 3
#define SYMBOLS_SWE 4
#define FUNC        5
#define NUMBER      6
#define SETTINGS    7

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LEFT_ALT>, <&kp LGUI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3         &kp N4          &kp N5                                   &kp N6     &kp N7      &kp N8     &kp N9   &kp N0        &kp GRAVE
&kp TAB     &kp Q   &kp W   &kp E          &kp R           &kp T                                    &kp J      &kp L       &kp U      &kp Y    &kp SE_OO     &kp SE_AE
&kp LSHIFT  &kp A   &kp S   &kp D          &kp F           &kp G                                    &kp M      &kp N       &kp E      &kp I    &kp O         &kp SE_AA
&kp LCTRL   &kp Z   &kp X   &kp C          &kp V           &kp B        &kp HOME     &kp END        &kp K      &kp H       &kp COMMA  &kp DOT  &kp SE_MINUS  &kp ENTER
                            &kp RIGHT_ALT  &lt 1 KP_ENTER  &lt 2 SPACE  &kp LCTRL    &kp BACKSPACE  &kp SPACE  &lt 3 RET2  &kp RCTRL
            >;
        };

        qwerty_layer {
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3  &kp N4     &kp N5                                   &kp N6   &kp N7     &kp N8     &kp N9   &kp N0        &kp GRAVE
&kp TAB     &kp Q   &kp W   &kp E   &kp R      &kp T                                    &kp Y    &kp U      &kp I      &kp O    &kp P         &kp SE_AE
&kp LSHIFT  &kp A   &kp S   &kp D   &kp F      &kp G                                    &kp H    &kp J      &kp K      &kp L    &kp SE_OO     &kp SE_AA
&kp LCTRL   &kp Z   &kp X   &kp C   &kp V      &kp B        &kp HOME     &kp END        &kp N    &kp M      &kp COMMA  &kp DOT  &kp SE_MINUS  &kp RSHFT
                            &td0    &lt 0 TAB  &lt 0 ENTER  &kp SPACE    &kp BACKSPACE  &kp DEL  &lt 0 ESC  &kp RCTRL
            >;
        };

        gaming_layer {
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3        &kp N4     &kp N5                                   &kp N6   &kp N7     &kp N8     &kp N9   &kp N0        &kp GRAVE
&kp TAB     &kp Q   &kp W   &kp E         &kp R      &kp T                                    &kp Y    &kp U      &kp I      &kp O    &kp P         &kp SE_AE
&kp LSHIFT  &kp A   &kp S   &kp D         &kp F      &kp G                                    &kp H    &kp J      &kp K      &kp L    &kp SE_OO     &kp SE_AA
&kp LCTRL   &kp Z   &kp X   &kp C         &kp V      &kp B        &kp HOME     &kp END        &kp N    &kp M      &kp COMMA  &kp DOT  &kp SE_MINUS  &kp RSHFT
                            &kp LEFT_ALT  &lt 0 TAB  &lt 0 ENTER  &kp SPACE    &kp BACKSPACE  &kp DEL  &lt 0 ESC  &kp RCTRL
            >;
        };

        symbols_eng_layer {
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3        &kp N4     &kp N5                                   &kp N6   &kp N7     &kp N8     &kp N9   &kp N0        &kp GRAVE
&kp TAB     &kp Q   &kp W   &kp E         &kp R      &kp T                                    &kp Y    &kp U      &kp I      &kp O    &kp P         &kp SE_AE
&kp LSHIFT  &kp A   &kp S   &kp D         &kp F      &kp G                                    &kp H    &kp J      &kp K      &kp L    &kp SE_OO     &kp SE_AA
&kp LCTRL   &kp Z   &kp X   &kp C         &kp V      &kp B        &kp HOME     &kp END        &kp N    &kp M      &kp COMMA  &kp DOT  &kp SE_MINUS  &kp RSHFT
                            &kp LEFT_ALT  &lt 0 TAB  &lt 0 ENTER  &kp SPACE    &kp BACKSPACE  &kp DEL  &lt 0 ESC  &kp RCTRL
            >;
        };
    };
};
